In [42]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import plotly as plt 
sns.set()

In [44]:
df = pd.read_csv("../calculating_stock_returns/data/fb_price.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
1,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
3,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
4,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200

In [47]:
df = df[['Date', 'Adj Close']]
print(df.head())

         Date  Adj Close
0  2012-05-18  38.230000
1  2012-05-21  34.029999
2  2012-05-22  31.000000
3  2012-05-23  32.000000
4  2012-05-24  33.029999

In [69]:
weight = 33.33 / 100 
r1 , r2,r3 = 9.8/100 , -29.67/100 , 19.79/100 
weight*r1 + weight*r2 + weight*r3

-0.00026663999999999854

In [62]:
k = ((226.98/240) -1)*0.6
f = (20.94)*0.4

k + f

8.34345

In [75]:
k = ((106.21-94.83)/94.83)
f = ((113.64 - 106.21)/106.21)
g = ((106.83 - 113.64) /113.64)
t = ((110.03 - 106.83 )/106.83)
w = ((125.44 - 110.03)/110.03)

kfg_2 = k + f + g + t + w 
kfg_2/5

0.06000814587722829

In [1]:
(134.8/100)*(5/100) + (53.1/100)*(45/100) + (6.6/100)*(50/100)

0.33935000000000004

In [9]:
(1.3)*(9/100) + (1.5/100)

0.132