In [10]:
import datetime as dt 
import pandas as pd 
import numpy as np 
from pandas_datareader import data as pdr 
import plotly.offline as pyo 
from plotly.subplots import make_subplots

pyo.init_notebook_mode(connected= True) 
pd.options.plotting.backend = 'plotly'

In [18]:
df = pd.read_csv("../fb_price.csv") 
df[::1]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
1,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
3,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
4,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200
...,...,...,...,...,...,...,...
1409,2017-12-22,177.139999,177.529999,176.229996,177.199997,177.199997,8487000
1410,2017-12-26,176.630005,177.000000,174.669998,175.990005,175.990005,8897300
1411,2017-12-27,176.550003,178.440002,176.259995,177.619995,177.619995,9496100
1412,2017-12-28,177.949997,178.940002,177.679993,177.919998,177.919998,12220800
1413,2017-12-29,178.000000,178.850006,176.460007,176.460007,176.460007,10178700

In [15]:

df_returns = df["Close"].pct_change(1) 
df_returns_mean = df_returns.mean() 
df_std = np.std(df_returns, ddof=1)
df_std*np.sqrt(252)

0.3712061979506462